---
title: About Me
layout: page
tags: ['author','bio']
pageOrder: 1
scripts: ["/scripts/age.js"]
---

p
  | My name is John Batte, I'm 
  span.age 35
  |  years old, and I'm a software architect. Basically, that means I get to work
  | with some pretty smart people and design some pretty interesting systems for businesses
  | that need a smart solution to their problems. I love what I do, and I love it when a colleague
  | gets that "Eureka!" moment and I'm there to witness it. We all grow and learn and when we do so
  | as a community, we grow beyond our individual limits -- that's why I love Open Source software
  | so much! I hope to one day be recognized as a significant contributor to the Open space, and I
  | hope to always be learning along the way!

img.avatar-right(src=getUrl("/img/profile/gravatar_large.jpg"))

p
  | I'm the owner of an organization called 
  a(href=site.links.tribe) The Tribe 
  | on GitHub (that's "Tribe" as in a large group of monkeys; code monkeys to be specific). 
  | Together we are working on a few really interesting ideas and we all hope that you find 
  | our projects as interesting and useful as we do.

p
  | If you ever need an answer to a question regarding one of our projects, or just about development 
  | in general, please feel free to 
  a(href=getEmail()) reach out to me 
  | via email, or 
  a(href=site.links.newRequest) submit an issue 
  | with my profile site's repository -- I'll treat issues submitted there as personal requests directed at me.

p
  | On a fun note, I've started an open source comic book -- the first of its kind as far as I know. I hope
  | folks will happen upon it, join the cause, and help make it amazing. It's called "
  a(href=site.links.comic) I Code in my Sleep
  | ", and it's centrally about nerds (obviously), but hopefully it will go in a lot of crazy directions.