--- yaml
layout: 'default'
title: 'Home'
scripts: ['//platform.twitter.com/widgets.js']
---

.jumbotron
	h1
		| Hi, I'm 
		a(href=site.links.about) John.
	p
		| If you're reading this, chances are I handed you one of my cards, or you followed 
		a(href=site.links.profile) my LinkedIn profile 
		| here.
	p
		| Welcome, and please 
		a(href=getEmail()) let me know 
		| if you have questions this site doesn't answer.

.row
	.col-md-12
		p: a.twitter-timeline(href=getTwitterUrl(), data-widget-id=site.twitter.widgetId) Tweets by @#{site.twitter.id}
